'menu': [
	{
		'label': 'Packages'
		'submenu': [
			{
				'label': 'Reddit Background'
				'submenu': [
					{
						'label': 'Toggle Refresh'
						'command': 'reddit-background:toggle'
					},
					{
						'label': 'Skip To Next Image'
						'command': 'reddit-background:skip'
					}
				]
			}
		]
	}
]
